html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2792ab;
}
.background {
  height: 30rem;
  width: 25rem;
  background-color: white;
  border-radius: 5%;
}
.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3rem;
}
h1 {
  font-size: 50px;
  font-weight: 600;
  color: skyblue;
}
img {
  height: 5rem;
  width: 5rem;
}
#counter {
  font-size: 50px;
  font-weight: 600;
}
button:hover {
  cursor: pointer;
  background-color: #2792ab;
}
